<div class="product-card">
    <img src="{{image}}" alt="{{name}}">
    <h3>{{name}}</h3>
    <p class="price">{{price}}</p>
    <p class="description">{{description}}</p>
    <a href="#" class="add-to-cart">Agregar al carrito</a>
</div>